/* Card principal */
.index-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 25px;
}

/* Header */
.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-header h2 {
    margin: 0;
    color: #008000;
}

/* Botón agregar */
.btn-add {
    background: #28a745;
    color: white !important;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
}
.btn-add:hover {
    background: #21883a;
}

/* Tabla */
.table-wrapper {
    overflow-x: auto;
    margin-top: 15px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table th {
    background: #2e4a2a;
    color: white;
    padding: 10px;
}
.styled-table th a{
    text-decoration: none;
    color: #ccc;
}

.styled-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.styled-table tr:hover {
    background: #ddd;
}

/* Botones de acción */
.btn-action {
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
    color: white !important;
}

/* Colores */
.btn-view { color: #333; }
.btn-edit { color: #333; }
.btn-delete { color: #333; }

/* Footer y paginación */
.index-footer {
    margin-top: 20px;
}

.pagination a{
    display: flex;
    width: 30px;
    flex-wrap: nowrap;
}
.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 0 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #67f;
    margin: 10px;
}

.pagination a:hover {
    background: #e9ecef;
}

.pagination-counter {
    margin-top: 10px;
    color: #666;
}
