.modal {
    display: none;
    /* oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    display: flex;
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    gap: 20px;
    text-align: start;
}

.modal-contenido #modal-imagen,
.modal-contenido #modal-descripcion {
    align-items: flex-start;
    width: 300px;
}

.modal-contenido p {
    flex: 1;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}